div.three-model-wrapper {
    div.crate {
        width: 500px;
        height: 500px;
        position: absolute;
        top: 0;
        right: 20;
    }

    div.crate2 {
        width: 800px;
        height: 500px;
        position: absolute;
        bottom: 0;
        left: 0;
    }
}