div.main-wrapper {
    background-color: rgb(224, 255, 250);
    height: 100%;
    width: 100%;
    flex-direction: column;

    div.icons {
        svg.MuiSvgIcon-root {
            color: rgba(118, 141, 141, 0.815);
            font-size: 1em;
            margin: 0 0.5em;
        }
    }
    
    h2 {
        font-weight: lighter;
        color: darkslategray;
    }
}