div.mainpage-wrapper {
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    text-align: start;

    @media (min-width: 1166px) {
        padding: 0 7em;
    }

    div.header {
        width: 25%;

        @media (max-width: 1165px) {
            text-align: center;
        }

        h1 {
            font-size: 3em;
            font-weight: lighter;
            color: rgb(0, 218, 218);
            line-height: 0.3em;
            letter-spacing: 0.08em;
        }
    }

    div.content {
        height: 100%;
        width: 75%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: relative;

        div.fade-top, div.fade-bottom {
            position: absolute;
            width: 100%;
            height: 2em;
            z-index: 4;
        }

        div.fade-top {
            top: 0;
            background: linear-gradient(white, rgba(255, 255, 255, 0));
        }

        div.fade-bottom {
            bottom: 0;
            background: linear-gradient(rgba(255, 255, 255, 0), white);
        }

        div.page-tracker {
            color: rgb(185, 185, 185);
            display: flex;
            flex-direction: column;
            width: 5em;
            margin-right: 2em;
            position: relative;

            .tracker-active {
                div.tracker-line {
                    border-right: 1px solid rgb(0, 218, 218);
                    color: rgb(0, 218, 218);

                    div.circle-wrapper {
                        div.circle {
                            border: 1px solid rgb(0, 218, 218);
                        }
                    }
                }
            }

            div.tracker-line {
                border-right: 1px solid rgb(185, 185, 185);
                height: 3em;
                overflow: visible;
                width: 50%;

                div.circle-wrapper {
                    width: 1.5em; //this determines circle size
                    height: 1.5em;
                    position: absolute;
    
                    div.circle {
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                        border: 1px solid rgb(185, 185, 185);
                        background-color: white;
                    }
                }
            }

            svg.MuiSvgIcon-root {
                font-size: 1em;
            }
        }

        div.section {
            height: 100%;
            width: calc(100% - 7em);
            position: relative;
            overflow: hidden;
        }
    }
}

.section-header {
    font-weight: lighter;
    color: rgb(0, 218, 218);
    line-height: 0.5em;
    letter-spacing: 0.08em;

    &h2 {
        font-size: 4em;
    }
     
    &h1 {
        font-size: 6em;
    }
}

#link-up-btn, #link-down-btn {
    position: absolute;
    z-index: 30;
    width: 100%;
    height: 3em;
    //background: rgba(0, 255, 242, 0.3);
    transition: smooth;

    svg.MuiSvgIcon-root {
        color: rgb(0, 218, 218);
        background-color: rgba(0, 218, 218, 0.1);
        border-radius: 50%;
        height: 1.5em;
        width: 1.5em;
    }
}

#link-up-btn {
    //margin-top: -3em;
}

#link-down-btn {
    //bottom: -1em;
    margin-top: -3em;
}

#return-to-grid {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > :first-child {
        margin-right: 0.5em;
    }

    p, svg.MuiSvgIcon-root {
        color: rgb(185, 185, 185);
    }

    svg.MuiSvgIcon-root {
        margin-top: 0.15em;
        font-size: 1.3em;
    }
}