div.aboutme-wrapper {
    color: rgba(118, 141, 141, 0.815);
    height: 100%;
    width: 100%;
    flex-wrap: nowrap;
    flex-direction: column;

    @media(min-width: 1166px) {
        > :first-child {
            margin-bottom: 10px;
        }
    }

    @media(max-width: 1165px) {
        > :not(:last-child) {
            margin-bottom: 10px;
        }

        div.content-item {
            height: 100%;
            width: 100%;

            h4 {
                display: none;
            }
        }
    }

    div.content-row {
        display: flex;

        @media(min-width: 1166px) {
            flex-direction: row;
            width: calc(100% - 10px);  
            height: calc(50% - 10px);

            > :first-child {
                margin-right: 10px;
            }
    
            div.content-item {
                height: 100%;
                width: 50%;
            }
        }
    }
}
