//link-image dimensions
$linkimage-length: 15em;
$linkimage-height: 50px;

div.aboutmeheader-wrapper {
    @media (max-width: 1165px) {
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }

    div.header {
        width: 100%;
    }

    .section-header {
        font-weight: lighter;
        color: rgb(0, 218, 218);
        line-height: 0.5em;
        letter-spacing: 0.08em;
    }

    h2 {
        font-size: 2em;
    }
     
    h1 {
        font-size: 3em;
    }
    
    div.searchbar {
        width: 13em;

        * {
            font-weight: lighter;
        }

        div.bar {
            width: 100%;
            display: flex;
            flex-direction: row;

            #search-icon {
                color: rgb(0, 218, 218);
                font-size: 1.7em;
            }

            input {
                width: 75%;
                border: none;
                font-family: inherit;
                margin-left: 1em;
                margin-bottom: 8px;
                color: rgb(0, 218, 218);
                border-bottom: 1px solid rgb(159, 212, 212);

                &:focus {
                    outline: none;
                    border-bottom: 1px solid rgb(0, 218, 218);
                }
            }
        }
    }

    div.links {
        display: flex;
        flex-direction: column-reverse;
    }

    div.link-image {
        perspective: 1000px;
        height: $linkimage-length;
        width: $linkimage-length;
        
        // remember images are displayed in column-reverse
        &:not(:last-child) {
            margin-top: -10em;
        }

        &:not(:hover) figure { 
            transform: rotateX(75deg) rotateZ(-30deg) translateX(40px) translateZ(5vw); 

            &:after {
                box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.2), inset 0 0 250px 250px rgba(0, 0, 0, 0.2);
                transform: rotateX(-5deg) translateZ(-80px) scale(1);
            }
        }

        figure { 
            margin: 0;
            width: 100%;
            height: 100%;
            //background: url("./kitten.jpg");
            background: white;
            border: 1px solid brown;
            background-size: 100%; 
            transform-origin: center bottom;
            transform-style: preserve-3d;
            transition: 1s transform;

            &:after {
                content: '';
                position: absolute; 
                top: 0; 
                left: 0;
                width: 100%; 
                height: 100%;
                //box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.1), inset 0 0 250px 250px rgba(0, 0, 0, 0.1);
                transition: 1s;
                transform: rotateX(95deg) translateZ(-80px) scale(0.75);
                transform-origin: inherit;
            }

            figcaption {
                width: 100%;
                background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./kitten.jpg");
                background-size: 100%; 
                height: $linkimage-height;
                background-repeat: no-repeat;
                background-position: bottom;
                color: #fff; 
                position: relative; 
                top: calc(100% - 2px);
                transform-origin: center top;
                font-size: 1.2vw;
                font-family: Montserrat, Arial, sans-serif;
                text-align: center;
                line-height: 3;

                &.front {
                    transform: translateY(-100%) rotateX(-89.9deg);
                }

                &.side {
                    transform: translateX(-50%) translateZ(-1 * $linkimage-height) translateY(-0.45 * $linkimage-length) rotateY(-89.9deg) rotateZ(-89.9deg);
                    //transform: rotateY(-89.9deg) rotateZ(-89.9deg);
                }
            }
        }
    }  
}

// div.link-image {
//     perspective: 1000px;
//     height: 15em;
//     width: 15em;
//     margin: 0 auto;

//     &:hover figure { 
//         transform: rotateX(75deg) rotateZ(-30deg) translateX(20px) translateZ(5vw); 

//         &:before {
//             box-shadow: 0 0 25px 25px rgba(0, 0, 0, 0.5), inset 0 0 250px 250px rgba(0, 0, 0, 0.5);
//             transform: rotateX(-5deg) translateZ(-80px) scale(1);
//         }
//     }

//     figure { 
//         margin: 0;
//         width: 100%;
//         height: 100%;
//         background: url("./kitten.jpg");
//         background-size: 100%; 
//         transform-origin: center bottom;
//         transform-style: preserve-3d;
//         transition: 1s transform;

//         &:before {
//             content: '';
//             position: absolute; top: 0; left: 0;
//             width: 100%; height: 100%;
//             box-shadow: 0 0 100px 50px rgba(0, 0, 0, 0.1), inset 0 0 250px 250px rgba(0, 0, 0, 0.1);
//             transition: 1s;
//             transform: rotateX(95deg) translateZ(-80px) scale(0.75);
//             transform-origin: inherit;
//         }

//         figcaption { 
//             width: 100%;
//             background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url("./kitten.jpg");
//             background-size: 100%; height: 50px;
//             background-repeat: no-repeat;
//             background-position: bottom;
//             color: #fff; 
//             position: relative; top: 100%;
//             transform-origin: center top;
//             transform: rotateX(-89.9deg);
//             font-size: 1.2vw;
//             font-family: Montserrat, Arial, sans-serif;
//             text-align: center;
//             line-height: 3;
//         }
//     }
// }  