a.link-square {
    height: 100%;
    width: 100%;
}

div.square-wrapper {
    flex-direction: column;
    height: 100%;
    width: 100%;

    h2, h4 {
        letter-spacing: 0.1em;
        font-weight: lighter;
    }

    &.github {
        color: rgb(33, 119, 44);
        background-color: rgb(235, 255, 238);
    }

    &.devpost {
        color: rgb(11, 126, 107);
        background-color: rgb(234, 255, 250);
    }

    &.linkedin {
        color: rgb(17, 58, 82);
        background-color: rgb(233, 244, 248);
    }

    &.resume {
        color: rgb(48, 19, 87);
        background-color: rgb(236, 233, 248);

        div.links {
            flex-direction: row;

            > :not(:last-child) {
                margin-right: 2em;
            }

            button {
                width: 10em;
                font-weight: lighter;
                color: white;
                background-color: rgb(25, 131, 104);
                line-height: 1.5em;
                border-radius: 7px;
                border: none;
            }
        }
    }
}