div.project-wrapper {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    overflow-x: auto;

    div.project-panel {
        display: flex;
        margin-left: 1em;
        flex-direction: column;
        justify-content: space-between;

        @media (min-width: 1166px) {
            flex: 0 0 35%;
        }

        @media (max-width: 1165px) {
            flex: 0 0 80%;
        }

        &:first-child {
            margin-left: 0;
        }

        div.panel-footer {
            padding: 0.2em 0;
            font-size: 0.8em;
            letter-spacing: 0.1em;
            text-align: center;
            color: white;
        }
    }

    div.panel-content {
        height: calc(100% - 2em);
        padding: 1em;
        flex-direction: column;

        * {
            font-weight: lighter;
        }

        img.panel-image {
            height: 50%;
        }

        div.link-icons {
            flex-direction: row;

            a:not(:first-child) {
                margin-left: 1.5em;
            }
        }
    }
}